h1{
    font-size: large;
}
h2{
    padding-left: 1000px;
    font-size: medium;
    
    
}
img{
    padding: 30px;
}
p{
    font-size: medium;
    text-align: center;
    
}
h3{
    padding-left: 40px;
    font-size: medium;
}
h4{
    font-size: medium;
}
h5{
    font-size: medium;
    padding-left: 100px;
    top: 50PX;
}
body{
    border: 2px solid blue;
    background-color: bisque;
    background-image: url(nature.jpg);
}
